<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quiz4U Sign Up Page</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.css?v002" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
        <!-- Nested Row within Card Body -->
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                    </div>
                    <form class="user">
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="emailAddr"
                                placeholder="Email Address">
                        </div>

                        <div class="form-group">
                            <input type="tel" class="form-control form-control-user" id="phoneNumber"
                                placeholder="Phone Number">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control form-control-user" id="password"
                                placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user" id="repeatPassword"
                                placeholder="Repeat Password">
                        </div>

                        <label for="city">
                          응시 지역&nbsp;&nbsp;&nbsp;&nbsp;
                        </label>
                        <select id="city" name="city" class="bo_w_select">
                          <option value="not_selected">응시지역을 선택하세요</option>
                          <option value="seoul">서울특별시</option>
                            <option value="kkbb">경기북부</option>
                            <option value="kknb">경기남부</option>
                            <option value="chbd">충청북도</option>
                            <option value="chnd">충청남도</option>
                            <option value="jlbd">전라북도</option>
                            <option value="jlnd">전라남도</option>
                            <option value="ksbd">경상북도</option>
                            <option value="ksnd">경상남도</option>
                            <option value="kwd">강원도</option>
                            <option value="pusan">부산광역시</option>
                            <option value="ulsan">울산광역시</option>
                            <option value="daejeon">대전광역시</option>
                            <option value="gwangju">광주광역시</option>
                        </select>
                      </form>
                      <hr>



                        <a href="javascript:onClick_register(emailAddr.value, phoneNumber.value, password.value, repeatPassword.value, city.value);" id="register_btn" class="btn btn-primary btn-user btn-block" >
                            회 원 가 입
                        </a>
                        <hr>
                        <a href="/index" class="btn btn-google btn-user btn-block">
                            <i class="fab fa-google fa-fw"></i> Register with Google
                        </a>
                        <a href="/index" class="btn btn-facebook btn-user btn-block">
                            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                        </a>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="/forgot-password.html">비밀번호를 잃어버리셨나요?</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="/signin">이미 Quiz4U의 회원이신가요? 로그인하세요!</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="/static/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script type="text/javascript" src="/static/js/sb-admin-2.min.js"></script>

    <!-- Script for signup pages -->
    <script type="text/javascript" src="/static/js/signup.js"></script>

</body>

</html>
